@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Acme.BookStore.Permissions
@using Acme.BookStore.Web.Pages.Books
@using Acme.BookStore.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.BookStore.Localization
@inject IHtmlLocalizer<BookStoreResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Books"].Value;
    PageLayout.Content.MenuItemName = BookStoreMenus.Books;
}

@section scripts
{
    <abp-script src="/Pages/Books/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(BookStorePermissions.Books.Create))
    {
        <abp-button id="NewBookButton" text="@L["NewBook"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="TypeFilter" label="@L["Type"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PublishDateFilterMin" label="@L["MinPublishDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PublishDateFilterMax" label="@L["MaxPublishDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PriceFilterMin" label="@L["MinPrice"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="PriceFilterMax" label="@L["MaxPrice"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="BooksTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Name"]</th>
					<th>@L["Type"]</th>
					<th>@L["PublishDate"]</th>
					<th>@L["Price"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>